.a1{width:511px; height:605px; padding-top:120px; /*background:url(../images/img.jpg) no-repeat;*/}
.ul-a{width:800px; margin-left:36px; overflow:hidden; margin-bottom:290px;}
.ul-a li{float:left;  line-height:40px; font-size:14px; }
.ul-a .b1{padding-left:150px; width:300px;}
.ul-a .b2{padding-left:218px; width:460px;}
.ul-a li input{width:99%; border:0px; padding:0px; background:none;font-size:19px;}


.ul-b{width:800px; margin-left:36px;margin-top:45px;overflow:hidden;}
.ul-b li{float:left;line-height:40px;}
.ul-b li input{border:0px; text-align:left; background:none; font-size:19px;}
    .ul-b li .b1 {
        width: 233px;
        margin-left: 300px;
        text-align: center;
    }
.ul-b li .b2{width:180px; text-align:center;}
.ul-b li .b3{margin-left: 13px;width:98px; text-align:center; margin-right:28px;}
.ul-b li .b4{width:86px; text-align:center; margin-right:52px;}
.ul-b li .b5{width:70px; margin-right:22px; text-align:center;}
.ul-b li .b6{width:70px; text-align:center;}

.ul-c{margin-top: 145px;margin-left: 535px;width: 200px;}
.ul-c li{height:12px; line-height:12px; font-size:12px; float:left;}
.ul-c li input{border:0px; text-align:center; background:none;}
.ul-c li .b1{width:60px; margin-right:18px;}
.ul-c li .b2{width:60px;}

.a2 {
    line-height: 18px;
    padding-left: 36px;
    width: 336px;
    margin-top: 390px;
}
.a2 input{ text-align:right; width:100%; background:none; border:0px;font-size:20px;}













