@using IYun.Models;
@using IYun.Object
@{
    Layout = null;

}
<select class="dl-sel" id="courseId" name="courseId" style="">
    <option value="0">请选择</option>
    <option value='1' selected="selected">公共基础课</option>
    <option value='2'>专业基础课</option>
    <option value='3'>专业课</option>
    <option value='4'>实践环节</option>
    <option value='5'>选修课</option>
</select>