@using System.Configuration;
@{
    Layout = null;
}

<div class="foot-bg">
    版权所有 Copyright  2015-2019，All Rights Reserved，power by 青书学堂
</div>
<div class="lrf">
    <a class="qq" href="tencent://message/?uin=@ConfigurationManager.AppSettings["qq"]&&Site=地址&&Menu=yes">在线咨询</a>
    <a class="ques" href="javascript:;">常见问题</a>
</div>

<script type="text/javascript" src="~/Content/manage/js/all-common.js"></script>
