@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>南昌师范学院后台管理</title>
</head>
<frameset rows="44,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/AdminBase/Top" name="topFrame" id="topFrame" scrolling="no" noresize />
    <frameset cols="193,*" name="bodyFrame" id="bodyFrame" frameborder="no" border="0" framespacing="0">
        <frame src="/AdminBase/Left" name="menu" id="menu" scrolling="auto" noresize />
        <frame src="/AdminBase/Right" name="main" id="main" scrolling="auto" noresize />
    </frameset>
</frameset>
<noframes>
    <body>
        你的浏览器不支持框架！
    </body>
</noframes>
    <body>
    </body>
</html>
