.nn-k1{width:1050px; margin:0px auto;}
.nn-k2{width:1205px;}
.nn-k{width:480px; height:270px; padding: 0px 10px; border:1px solid #e9e9eb; background: #fff; float:left; margin-right:50px;margin-bottom:40px;box-shadow:1px 1px 3px rgba(200, 200, 200, 1)}
.nn-bt{border-bottom: 2px solid #45c37a; line-height: 38px; font-size: 18px; color: #45c37a;}

.nn-bt a{float:right;color:#fff; font-family: Arial; font-size: 8px; line-height: 12px;width: 52px; height: 12px;display: block;background:#6ead1e url(nn-bt.jpg) no-repeat 40px center; text-indent: 8px; margin-right: 13px; margin-top: 15px;}

.nn-ul{padding:0px 15px; margin-top:5px;}
.nn-ul li{position:relative; font-size:14px; line-height:26px; color:#333333; border-bottom: 1px dashed #cdcdcd;}
.nn-ul li span{position:absolute; right:0px; top:0px;}
.nn-ul li a{color:#333333;}
.nn-ul li:hover a{color:#45c37a;}
.nn-ul li:hover span{color:#45c37a;}




















