
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>404</title>


</head>
<body style="margin:0px;">
    <div>
        <a href="javascript:history.back();"><img style="width:100%" src="~/Content/images/404.png" /></a>
    </div>
</body>
</html>
