@using IYun.Models
@using System.Configuration
@using IYun.Common
@{
    Layout = null;
    var adminName = ViewBag.adminName as string;
    var schoolname = ConfigurationManager.AppSettings["SchoolName"].ToString();
}
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=0.78, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<div class="head">
    <a href="/StudentAccount/Index1"><img class="logo" src="~/Content/manage/images/logo.png" /></a>
    <ul class="nav">
        <li class="navlev"><a href="/StudentAccount/StudentInfo">个人信息</a></li>
        @*<li class="navlev"><a href="/StudentAccount/TaxInfo">个税补录</a></li>*@
        <li class="navlev"><a href="/StudentAccount/Payment">缴费情况</a></li>
        <li class="navlev"><a href="/StudentAccount/StuPlan">教学安排</a></li>
        <li class="navlev"><a href="/StudentAccount/GoToQinshu">课程学习</a></li>
        <li class="navlev"><a href="/StudentAccount/MyScore">考试成绩</a></li>
        <li class="navlev"><a href="/StudentAccount/StuInfoChangeApply">申请异动</a></li>
        <li class="navlev"><a href="/StudentAccount/GraduationApplyInfo">申请毕业</a></li>
        <li class="navlev"><a href="/StudentAccount/Activity">现场活动</a></li>
    </ul>
    @*<div class="top-news">
            <a href="/Student/StudentInfoChangeAll">
                <span>@ViewBag.stranges</span>
            </a>
        </div>*@
    <div class="hd-me navlev">
        <a href="#"><img src="~/Content/manage/images/gl.png">@adminName<em></em></a>
        <div class="hd-drop lev2">
            <a target="_blank" href="/StudentAccount/GoToQinshu">跳转青书</a>
            @*<a href="/Student/UpdatePassword">修改密码</a>*@
            <a href="/StudentAccount/Exit1">注销</a>
        </div>
    </div>
    @*<a class="navlev hd-xx" href="javascript:;"><em></em></a>*@
</div>
<div class="hei80"></div>