@using System.Configuration
@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<VW_MajorTeachPlan>

<table class="xx-table ydong-tab">
    <tr>
      
        <th >教学计划名</th>
            <th>学期</th>
            <th>课程安排</th>
             <th>操作</th>
    </tr>
    @{ foreach (var ydSysAdmin in Model)
        {
            <tr>
                <td>@ydSysAdmin.y_teaPlanName</td>
                <td>@ydSysAdmin.y_term</td>
                <td><a class="bfont2" href="/Edu/TeachPlanDes/?teachPlanId=@ydSysAdmin.y_teachPlanId">课程安排</a></td>
                @*<td><a class="bfont2" href="/Edu/MajorTeachPlan/?teachPlanId=@ydSysAdmin.y_teachPlanId">课程安排</a></td>*@
                <td><a class="bfont2" href="/Edu/TeachPlanEditPage/@ydSysAdmin.y_teachPlanId">修改</a><a class="bfont2" href="javascript:deleteTeachPlan(@ydSysAdmin.y_teachPlanId)">删除</a></td>
            </tr>

               }
}
</table>
<script>
    function teachPlanDesDelete(id) {
        if (confirm("确认删除此信息？")) {
            $.ajax({
                type: "post",
                url: "/Edu/teachPlanDesDelete",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data == "ok") {
                        location.reload();
                    } else {
                        alert(data);
                    }
                },
                error: function (msg) {
                    alert("未知错误");
                }
            });
        }
    }
   
</script>
