@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<YD_Sts_Politics>

<table class="xx-table ydong-tab">
    <tr>
        <th>政治面貌</th>
        <th>政治面貌代码</th>
        <th>操作</th>
    </tr>
    @{
        foreach (var ydSysAdmin in Model)
        {
            <tr>
                <td>@ydSysAdmin.y_name</td>
                <td>@ydSysAdmin.y_code</td>
                <td><a class="bfont2" href="/DicAdmin/PoliticsEditPage/@ydSysAdmin.id">修改</a><a class="bfont2" href="javascript:deletePolitics(@ydSysAdmin.id)">删除</a></td>
            </tr>
        }
    }
</table>

